assets/bootstrap/4.3.1/css/*
assets/bootstrap/4.3.1/js/*
assets/charts/chartjs/*
assets/jquery/3.3.1/*
assets/moment/*
assets/fontawesome-free/*
assets/popper/1.14.7/*
assets/select2/css/*
assets/select2/js/*
/playground.php
/db.php
/config/database.php

!assets/custom